*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#main{
    width: 100%;
    height: 100%;

    /* background: linear-gradient(90deg, #605cb8, #ab2970df); */
    
    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb);
    background-size: 400% 400%;
    animation: gradientShift 10s ease-in-out infinite;

    color: rgb(235, 230, 230);
    font-family: 'Brush Script MT', cursive;
}

#navbar{
    padding: 1rem 2rem; 
    width: 100%;
    height: 8%;
    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb);
    /* background:black; */
    /* border-bottom: 1px solid white; */


    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.logo{
    width: 13%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    outline: none;
    
}

.logo a:hover{
    cursor: pointer;
}


.links{
    /* background-color: orange; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}

.links a:hover{
    border-bottom: #ffffff solid 1px;
    font-size: 1rem;
    transform: scale(1.05);
}

#hero{
    width: 100%;
    height: 87%;
}

#top{
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2f8cbb; */
    flex-direction: column;
    gap: 1rem;
}

#top h1{
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.profile-details{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #984295; */
    /* padding: 1rem 6rem; */
    gap: 1rem;
}

.profile-picture{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

    border-radius: 20px;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.username{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    /* background-color: blue; */
    border-radius: 20px;
    gap: 1rem;
}

.profile-edit-button{
    width: 10%;
    height: 30%;
    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5rem;
}

.profile-edit-button:hover{
    background-color: #2f8cbb;
    transform: scale(1.05);
    font-size: 1.3rem;
}

.profile-edit-button:active{
    background-color: #2f8cbb;
    transform: scale(0.95);
    font-size: 1.1rem;
}

#bottom{
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #6441a5; */
    padding: 1rem 1rem;
    gap: 1rem;
    flex-direction: column;
}

.about-me{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2f8cbb; */
    border-radius: 20px;
    padding: 0rem 5rem; 
    gap: 1rem;
    white-space: nowrap;
}

.info-about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #66696967; */
    /* border: 1px solid white; */
    border-radius: 20px;
}

#text-about::placeholder{
    color: white;
}

#text-about{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid white;
    background-color: transparent;
    /* background-color: #2f8cbb; */
    resize: none;
    border-radius: 20px;
    color: white;
    padding: 1rem 1rem;
}

#text-about:focus{
    outline: none;
}

.info-edit-about{
    width: 5%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb);
}

.info-edit-about:hover{
    cursor: pointer;
    background-color: #2f8cbb;
    transform: scale(1.1);
    font-size: 1.3rem;
}

.info-edit-about:active{
    background-color: #2f8cbb;
    transform: scale(0.95);
    font-size: 1.1rem;
}

.details{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2f8cbb; */
    border-radius: 20px;
    padding: 0rem 5rem; 
    gap: 3rem;
    white-space: nowrap;
}

.info-details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #66696967; */
    /* border: 1px solid white; */
    border-radius: 20px;
}

#text-details::placeholder{
    color: white;
}

#text-details{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid white;
    background-color: transparent;
    resize: none;
    border-radius: 20px;
    color: white;
    padding: 1rem 1rem;
}

#text-details:focus{
    outline: none;
}

.info-edit-details{
    width: 5%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb);
}

.info-edit-details:hover{
    cursor: pointer;
    background-color: #2f8cbb;
    transform: scale(1.1);
    font-size: 1.3rem;
}

.info-edit-details:active{
    background-color: #2f8cbb;
    transform: scale(0.95);
    font-size: 1.1rem;
}

.payments{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2f8cbb; */
    border-radius: 20px;
    padding: 0rem 5rem;
    gap: 1rem;
}

.info-payments{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #6669698e; */
    /* border: 1px solid white; */
    border-radius: 20px;
}

#text-payments::placeholder{
    color: white;
}


#text-payments{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid white;
    background-color: transparent;
    resize: none;
    border-radius: 20px;
    color: white;
    padding: 1rem 1rem;
}

#text-payments:focus{
    outline: none;
}

.info-edit-payments{
    width: 5%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb);
}

.info-edit-payments:hover{
    cursor: pointer;
    background-color: #2f8cbb;
    transform: scale(1.1);
    font-size: 1.3rem;
}

.info-edit-payments:active{
    background-color: #2f8cbb;
    transform: scale(0.95);
    font-size: 1.1rem;
}


#footer{
    width: 100%;
    height: 5%;

    /* background: black; */

    background: linear-gradient(90deg, #4e4376, #48afa7, #6441a5, #427c98, #a02e93, #51809f, #6441a5, #2f8cbb); 
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}